---
apiVersion: batch/v1
kind: Job
metadata:
  name: mwqj-drxe-qykl-avdi
spec:
  template:
    spec:
      containers:
        - name: mwqj-drxe-qykl-avdi
          image: ubuntu
          command: ["echo", "Hello, world!"]
          workingDir: /home
          volumeMounts:
            - name: cwd
              mountPath: /home
      restartPolicy: Never
      securityContext:
        runAsUser: 505
        runAsGroup: 20
      volumes:
        - name: cwd
          hostPath:
            path: /Users/mwvaughn/src/TACC-Cloud/kuberun
  backoffLimit: 0
